{% load static %}
<header>
{% include 'main/header/header.html' %}
{% include 'main/menu/menu.html' %}
</header>
<body>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Acceuil</a></li>
                <li class="breadcrumb-item active">Tableau de bord</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
            <section class="section">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body col-12">
                      <h5 class="card-title">Listes des membres</h5>
                  <!-- Table with stripped rows -->
                  
                      <table id="table" class="table table-striped">
                       <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prénoms</th>
                          <th scope="col">Numéro</th>
                          <th scope="col">Lieu d'habitation</th>
                          <th scope="col">Marié</th>
                          <th scope="col">Genre</th>                        
                        </tr>
                      </thead>
                      <tbody>
                        {% for membre in membres  %}
                        <tr>
                          
                          <th scope="row">{{ membre.id }}</a></th>
                          <td>{{membre.name}} </a></td>
                          <td>{{membre.prenoms}}</a></td>
                          <td>{{membre.numero}}</a></td>
                          <td>{{membre.location}}</a></td>
                          <td>{{membre.status}}</a></td>
                          <td>{{membre.genre}}</a></td>
                          <style>
                            .white{
                              color:white;
                            }
                          </style>
                          <td><button type="submit" class="btn btn-info"><a class="white"href="{% url 'details' membre.id %}">Détails</a></button></td>
                          
                        </tr> 
                        {% endfor %}                     
                      </tbody>
                      <script>
                        $(document).ready(function() {
                            $('#table').DataTable();
                        });
                    </script>
                    </table>
                  <!-- End Table with stripped rows -->
                </div>
              </div>
            </div>
          </div>
        </section>
    </main><!-- End #main -->
<footer>
    {% include 'main/footer/footer.html' %}
</footer>
</body>