{% load static %}
<header>
{% include 'main/header/header.html' %}
{% include 'main/menu/menu.html' %}
</header>
<body>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Tableau de bord</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Acceuil</a></li>
                <li class="breadcrumb-item active">Tableau de bord</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
            <section class="section">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body col-12">
                      <h5 class="card-title">Listes des membres</h5>
                  <!-- Table with stripped rows -->
                  
                  <table class="table datatable table-striped">
                    <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Nom</th>
                              <th scope="col">Prénoms</th>
                              <th scope="col">Numéro</th>
                              <th scope="col">Résidence</th>
                              <th scope="col">Marié</th>
                              <th scope="col">Genre</th>
                              <th scope="col">Details</th>                        
                            </tr>
                          </thead>
                          <tbody>
                            {% for membre in membres  %}
                            <tr>
                              
                              <th scope="row">{{ membre.id }}</a></th>
                              <td>{{membre.name}} </td>
                              <td>{{membre.prenoms}}</td>
                              <td>{{membre.numero}}</td>
                              <td>{{membre.location}}</td>
                              <td>{{membre.status}}</td>
                              <td>{{membre.genre}}</td>
                              
                              <style>
                                .white{
                                  color:white;
                                }
                              </style>
                              <td><a class="white"href="{% url 'details' membre.id %}"><button type="submit" class="btn btn-primary">Détails</button></a></td>
                              
                            </tr> 
                            {% endfor %}                     
                          </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                </div>
              </div>
            </div>
          </div>
        </section>
        
    </main><!-- End #main -->
<footer>
    {% include 'main/footer/footer.html' %}
</footer>
</body>