<header>
  {% include 'main/header.html' %}
</header>
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">DB ANNEXE</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Informations scolaire</h5>
                  <p class="text-center small">Veiller remplire correctement chaque champs du formulaire</p>
                </div>
                  
                  <form class="row g-3"  method="POST">
                    {% csrf_token %}
                      <div class="col-md-12">
                          <label for="inputState"  class="form-label">Niveau d'étude</label>
                          <select id="inputState" name="level" class="form-select">
                            <option selected>Je continue les cours</option>
                              <option>cp1</option>
                              <option>Cp2</option>
                              <option>Ce1</option>
                              <option>Cm1</option>
                              <option>Cm2</option>
                              <option>Sixième</option>
                              <option>Cinquième</option>
                              <option>Quatrième</option>
                              <option>Troisième</option>
                              <option>Second</option>
                              <option>Première</option>
                              <option>Terminal</option>
                              <option>Licence 1</option>
                              <option>Licence 2</option>
                              <option>Licence 3</option>
                              <option>Master 1</option>
                              <option>Master 2</option>
                              <option>Doctorat</option>
                          </select>
                      </div>
                      <div class="col-md-12">
                        <label for="inputState"  class="form-label">Dernier Diplôme obtenu</label>
                        <select id="inputState" name="diplomes" class="form-select">
                          <option selected>Aucun</option>
                          <option>CEPE</option>
                          <option>BEPEC</option>
                          <option>BACCALAUREAT</option>
                          <option>BTS</option>
                          <option>LICENCE 3</option>
                          <option>MASTER 1</option>
                          <option>MASTER 2</option>
                          <option>DOCTORAT</option>
                        </select>
                    </div>
                      <div class="col-md-12">
                          <label for="inputState"  class="form-label">Séries du BACCALAUREAT</label>
                          <select id="inputState" name="type" class="form-select">
                            <option selected>Aucun</option>
                              <option>A</option>
                              <option>B</option>
                              <option>C</option>
                              <option>D</option>
                              <option>E</option>
                              <option>F</option>
                              <option>G</option>
                          </select>
                      </div>
                      <div class="col-12 mb-3">
                        <label for="inputText" class="form-label">Filière</label>
                        <input type="text" class="form-control"name="description" id="inputText" placeholder="EXP(Géni logiciel)">
                      </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Suivant</button>
                    </div>
                    {% comment %} <a href="{% url 'form2' %}">accéder au formulaire 2</a> {% endcomment %}
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    </div>
</main>
<footer>
   {% include 'main/footer.html' %}
</footer>