{% load static %}
<header>
  {% include 'main/header.html' %}
</header>
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="{% static 'assets/img/logo.png'%}" alt="">
                <span class="d-none d-lg-block">DB ANNEXE</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Informations Professionnel</h5>
                  <p class="text-center small">Veiller remplire correctement chaque champs du formulaire</p>
                </div>
                
                <form class="row g-3 needs-validation" enctype="multipart/form-data"  method="POST"novalidate>
                  {% csrf_token %}
                  <form class="row g-3" method="POST">
                    <div class="col-md-12">
                      <label for="inputText5" class="form-label">Dans quelle domaine êtes vous???</label>
                      <div class="col-md-12">
                        <select id="inputState" name="domaines" class="form-select">
                          <option selected>Autres Domaines</option>
                          <option>Agriculture</option>
                          <option>Télécommunications</option>
                          <option>Pétrole et gaz</option>
                          <option>Banque et finance</option>
                          <option>Énergie</option>
                          <option>Agriculture</option>
                          <option>Tourisme</option>
                          <option>Commerce</option>
                          <option>Construction et immobilier</option>
                          <option>Manufacturier</option>
                          <option>Services</option>
                          <option>Transport et logistique</option>
                          <option>Technologie de l'information</option>
                          <option>Éducation</option>
                          <option>Santé</option>
                          <option>Média et communication</option>
                          <option>Mode et textile</option>
                          <option>Art et culture</option>
                          <option>Restauration</option>
                          <option>Automobile</option>
                          <option>Environnement</option>
                        </select>
                    </div>
                    </div>
                    <fieldset class="row-md-12">
                      <legend class="col-form-label col-sm-10 pt-0">êtes vous en fonction dans ce domaines?</legend>
                          <div class="col-sm-10">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="travail" id="buzy1" value="oui" checked>
                                  <label class="form-check-label" for="buzy1">
                                      Oui
                                  </label>
                              </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="travail" id="buzy2" value="non" checked>
                                  <label class="form-check-label" for="buzy2">
                                      Non
                                  </label>
                              </div>
                          </div>
                      </fieldset>
                    <div class="col-md-12">
                      <label for="inputText5" class="form-label">Que faites vous actuellement comme metier</label>
                      <input type="email" name="metier" class="form-control" id="inputText5" placeholder='EXP(Commerce ou encore)'>
                    </div>
                    <div class="col-md-12">
                      <label for="inputTextarea" class="form-label">Description du metier que vous faites.</label>
                      <textarea class="form-control" name="description" id="inputTextarea"></textarea>
                    </div>
                    <div class="row-md-12 mt-3">
                      <label for="inputPictures" class="col-sm-2 col-form-label">mon cv</label>
                      <div class="col-sm-10">
                        <input class="form-control" name="cv" type="file" id="formFile">
                      </div>
                    </div>
                    <div class="row-md-12 mt-3">
                      <label for="inputPictures" class="col-sm-2 col-form-label">image</label>
                      <div class="col-sm-10">
                        <input class="form-control" name="image" type="file" id="formFile">
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-success">VALIDER</button>
                    </div>
                    {% comment %} <a href="{% url 'form2' %}">accéder au formulaire 2</a> {% endcomment %}
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main>
{% comment %} <footer>
 {% include 'main/footer.html' %}
</footer> {% endcomment %}
