<header>
  {% include 'main/header.html' %}
</header>
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">DB ANNEXE</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Informations spirituel</h5>
                  <p class="text-center small">Veiller remplire correctement chaque champs du formulaire</p>
                </div>
                
                <form method="POST" class="row g-3 needs-validation" method="POST" novalidate>
                  {% csrf_token %}
                  
                    <fieldset class="row mb-3 mt-3">
                      <legend class="col-form-label col-sm-10 pt-0">baptème d'eau</legend>
                          <div class="col-sm-10">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="water" id="status1" value="oui" checked>
                                  <label class="form-check-label" name="oui" for="status1">
                                      Oui
                                  </label>
                              </div>
                          </div>
                          <div class="col-sm-10">
                              <div class="form-check">
                                  <input class="form-check-input" type="radio" name="water" id="status2" value="non" checked>
                                  <label class="form-check-label" name="non" for="status2">
                                      Non
                                  </label>
                              </div>
                          </div>
                      </fieldset>
                      <div class="col-md-12">
                        <label for="inputDate" class="form-label">Date de baptème d'eau</label>
                        <input type="date" name="date" class="form-control" id="inputDate">
                      </div>
                      <fieldset class="row mb-3 mt-3">
                        <legend class="col-form-label col-sm-10 pt-0">baptème du saint esprit</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="spirit" id="status3" value="oui" checked>
                                    <label class="form-check-label" name="oui" for="status3">
                                        Oui
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="spirit" id="status4" value="non" checked>
                                    <label class="form-check-label" name="non" for="status4">
                                        Non
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-6">
                          <label for="inputState"  class="form-label">Departement:</label>
                          <select id="inputState" name="community" class="form-select">
                            <option selected>Choix</option>
                            <option>Ordre et acceuil</option>
                            <option>Commité social</option>
                            <option>Groupe musical</option>
                            <option>AOC</option>
                            <option>Intercéssion</option>
                          </select>
                      </div>
                      <div class="col-md-6">
                          <label for="inputState"  class="form-label">Groupe de jeunesse</label>
                          <select id="inputState" name="crue" class="form-select">
                            <option selected>Choix</option>
                            <option>Esther</option>
                            <option>Josué</option>
                            <option>Emmanuel</option>
                            <option>Osée</option>
                          </select>
                      </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Suivant</button>
                      {% comment %} <button type="reset" class="btn btn-secondary">Reset</button> {% endcomment %}
                    </div>
                    {% comment %} <a href="{% url 'form2' %}">accéder au formulaire 2</a> {% endcomment %}
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->

{% comment %} <footer>
 {% include 'main/footer.html' %}
</footer> {% endcomment %}